<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
    </style>
  <title>Pokedex: <%=Pokemon.name%></title>
</head>
  <body
  <% for (let i = 0; i < Pokemon.type.length; i++) { %>
      <% if (Pokemon.type[i] === 'Grass' || Pokemon.type[i] === 'Bug' || Pokemon.type[i] === 'Poison') { %>
        style='background-color: green'
      <% } else if (Pokemon.type[i] === 'Water') { %>
        style='background-color: lightblue'
      <% } else if (Pokemon.type[i] === 'Psychic') { %>
        style='background-color: purple'  
      <% } else if (Pokemon.type[i] === 'Electric') { %>
        style='background-color: yellow'
      <% } else if (Pokemon.type[i] === 'Ground' || Pokemon.type[i] === 'Fighting') { %>
        style='background-color: rgb(62, 35, 35)'
      <% } else if (Pokemon.type[i] === 'Fire') { %>
        style='background-color: red'
      <% } else { %>
        style='background-color: lightgray'
      <% } %> 
  <% } %>
  >
    <div id="show-container">
    <div class="pokemon-head">
      <h1><%=Pokemon.name%></h1>
      <img src="<%=Pokemon.img%>"></img>
      <h4>ID: <%=Pokemon.id%></h4>
      <button><a href="/">Back to Pokedex</a></button>
      <button><a href="/<%=Pokemon._id%>/edit">Edit</a></button>
      <form id="delete" action="/<%=Pokemon._id%>?_method=DELETE" method="POST">
        <input class="button" type="submit" value="Delete"/>
      </form>
    </div>
    <div class="types">
    <ul> Type(s): 
        <% for (let i = 0; i < Pokemon.type.length; i++) { %>
      <li>
        <%=Pokemon.type[i]%>
      </li>
    <% } %>
    </ul>
    </div>
    <div class="stats">
      <ul> Stats: 
        <li>HP: <%=Pokemon.stats.hp%></li>
        <li>Attack: <%=Pokemon.stats.attack%></li>
        <li>Defense: <%=Pokemon.stats.defense%></li>
        <li>SpAttack: <%=Pokemon.stats.spattack%></li>
        <li>SpDefense: <%=Pokemon.stats.spdefense%></li>
        <li>Speed: <%=Pokemon.stats.speed%></li>
      </ul>
  </div>
</div>
  </body>
</html